body {
    font-family: Arial, sans-serif;
    max-width: 500px;
    margin: 20px auto;
    padding: 10px;
}

form {
    background-color: #61dcdef3;
    border: 1px rgb(125, 22, 22);
    padding: 20px;
    border-radius: 5px;
}

label {
    font-weight:bold;
}


