body {
    font-family: Arial, sans-serif;
    max-width: 500px;
    margin: 20px auto;
    padding: 10px;
}

form {
    border: 1px white;
    padding: 20px;
    border-radius: 5px;
}

label {
    font-weight:bold;
}

